* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /* width: 100%; */
}

td,
th {
    border: 1px solid #000;
    text-align: left;
    padding: 0.5rem;
}

th {
    white-space: nowrap;
}

.sort-table-header {
    background-color: #dddddd;
    text-align: center;
}

.sort-table-header > th {
    background-color: #dddddd;
    text-align: center;
}

td {
    width: 2.5rem;
}
/* td[isfullhour] {
    border-right: 4px solid black;
} */

#tsb-block {
    padding: 4px;
    color: white;
    text-align: center;
    background-color: blue;
    margin: auto;
    white-space: nowrap;
}

.hidden {
    transition: 0.01ms;
    transform: translateX(-9999px);
}

td[tsb-non-visit="true"] {
    background-color: gray;
}

td[tsb-booked="true"] {
    background-color: lightgray;
}
